/* --заголовок---- */
.content__center {
    display: flex;
    width: 580px;
    height: 630px;
    margin: 0px auto;
    border-radius: 5px;


    /* border: 1px solid #000; */
}

/* ----------------------------------------- */
.center__section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #FFFFFF;

    box-shadow: 0px 0px 1px 1px #999999;
    /* border: 1px solid #000; */
}

.section__titles {
    display: flex;
    flex-direction: row;
    background: #008B00;
    border-radius: 3px;
}

.section__list {
    margin-top: 20px;
}

/* ----------------------------------------- */
.section__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid #000; */
}

.item {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;

    /* border: 1px solid #000; */
}

/* ------- */
.item__id {
    display: flex;
    flex-direction: row;


    /* border: 1px solid #000; */
}