.content{
    width: 100%;
    display: flex;
    justify-content: center;


    border: 1px solid #000;
}
.content__center{
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    
    border: 1px solid #000;
}
.content__center_left{
    width: 42%;
}
.content__center_title{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #000;
}
.hr_title{
    width: 100%;
    
    border: 1px solid silver;
}
.left__item_title{
    display: flex;
    flex-direction: row;

}
.item__title_star{
    color: red;
    margin-right: 5px;
    /* font-size: 30px; */
}
.left__item_value{
    width: 100%;

    /* border: 1px solid #000; */
}
.left__item_value input{
    width: 100%;
    border-radius: 5px;
}
.left__item_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.day select{
    width: 95%;
}
.month select{
    width: 95%;
}
.year select{
    width: 95%;
}
.gender{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.gender .left__item_box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    /* border: 1px solid #000; */
}
.gender__box{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.gender__box .left__item_value{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center !important;
}
.gender__box .left__item_value input{
    
    width: 20% !important;
    /* border: 1px solid #000; */

}
.gender__box .left__item_value label{
    width: 100%;
    margin-top: auto 0;
    /* border: 1px solid #000; */
}

